@{
    ViewBag.Title = "درباره ما";
}
<h2 class="text-right">@ViewBag.با ما مجالس تان را با شکوهتر برگزار می کنیم </h2>
<h3 class="text-right">@ViewBag.با از خدمات ما رضایت خواهید داشت</h3>

<p class="text-right">مجالس خود را به یاد ماندنی کنید</p>
