@{
    ViewBag.Title = "Contact";
}
<style>
 *{
     color:black;
 }
    h2,h3{
        color:black;
    }
</style>
<h2 class="text-right ">ما را از نظرات خود مطلع سازید</h2>
<h3 class="text-right">برای ارایه خدمات بهتر با ما در تماس باشید</h3>

<address class="text-right">
    تهران- یوسف آباد<br />
    نبش خیابان 31-موسسه آموزشی کهکشان نور<br />
    <abbr title="Phone">تلفن</abbr>
    +98.21 88719294
    +98.21 88106081
</address>

<address class="text-right">
    <strong>پشتیبانی:</strong>   <a href="http://t.me/kahkeshannoor">http://t.me/kahkeshannoor</a><br />
    <strong>بازاریابی:</strong> <a href="http://t.me/kahkeshannoor">http://t.me/kahkeshannoor</a>
</address>