@{
    ViewBag.Title = "مدیریت رویداد ";
}

<div class="jumbotron">
<<<<<<< HEAD
    <h1>نگین مجالس</h1>
    <p class="lead">سایت برتر ارایه خدمات برگزاری مجالس و محافل</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
=======
    <h3>  به سیستم مدیریت رویداد آسان خوش آمدید.  </h3>
    <p>مدیریت انواع رویدادهای علمی، فرهنگی و شخصی </p>
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
</div>

<div class="row text-center" >
    <div class="col-md-4">
<<<<<<< HEAD
        <h2>ثبت نام</h2>
        <p>
            جهت ثبت نام در سایت از این قسمت استفاده نمایید.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>آشنایی با خدمات ما</h2>
        <p>جهت دریافت نمونه از خدمات ارایه شده توسط سایت ما به این بخش مراجعه نمایید.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>رزرو </h2>
        <p>جهت رزرو خدمات از این قسمت اقدام نمایید.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">اطلاعات بیشتر &raquo;</a></p>
=======
        <h4>اخبار</h4>

    </div>
    <div class="col-md-4">
        <h4>ثبت نام</h4>

    </div>
    <div class="col-md-4">
        <h4>رزرو مکان</h4>

>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
    </div>
    
</div>