@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="jumbotron text-right">
    <h1>نگین مجالس</h1>
    <p class="lead">.این سایت جهت ارایه خدمات مجالس طراحی شده است</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row text-right">
    <div class="col-md-4">
        <h2>ورود</h2>
        <p>
            وارد سایت شوید
        </p>
        <p><a class="btn btn-default btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ثبت سفارش</h2>
        <p>سفارش خود را ثبت کنید</p>
        <p><a class="btn btn-default btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>دریافت نمونه </h2>
        <p>نمونه کارها و سفارشات قبلی ما را ملاحظه فرمایید</p>
        <p><a class="btn btn-default btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>بخش مدیریت </h2>
        
        <p>@Html.ActionLink("ورود", "Index", "Home",new { area = "Admin" }, new { @class = "navbar-brand" })</p>
    </div>
</div>