@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <h1>نگین مجالس</h1>
    <p class="lead">سایت برتر ارایه خدمات برگزاری مجالس و محافل</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
=======
    <h3>  به سیستم مدیریت رویداد آسان خوش آمدید.  </h3>
    <p>مدیریت انواع رویدادهای علمی، فرهنگی و شخصی </p>
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
    <h3>  به سیستم مدیریت رویداد آسان خوش آمدید.  </h3>
    <p>مدیریت انواع رویدادهای علمی، فرهنگی و شخصی </p>
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
>>>>>>> parent of 2773124... Merge pull request #1 from pfaraji/master
</div>

<div class="row">
    <div class="col-md-4">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        <h2>ثبت نام</h2>
        <p>
            جهت ثبت نام در سایت از این قسمت استفاده نمایید.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>آشنایی با خدمات ما</h2>
        <p>جهت دریافت نمونه از خدمات ارایه شده توسط سایت ما به این بخش مراجعه نمایید.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>رزرو </h2>
        <p>جهت رزرو خدمات از این قسمت اقدام نمایید.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">اطلاعات بیشتر &raquo;</a></p>
=======
        <h4>اخبار</h4>

    </div>
    <div class="col-md-4">
        <h4>ثبت نام</h4>

    </div>
    <div class="col-md-4">
        <h4>رزرو مکان</h4>

>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
        <h4>اخبار</h4>

=======
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
>>>>>>> parent of 2773124... Merge pull request #1 from pfaraji/master
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
<<<<<<< HEAD
        <h4>رزرو مکان</h4>

>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
>>>>>>> parent of 2773124... Merge pull request #1 from pfaraji/master
    </div>
</div>